.case{"data-case-id": caze.id, class: caze.css_class }
  .head
    %a{href: path(:backend_polygram_show, id: caze.id)} ↳
    = caze.title
    %small
      by
      %strong #{caze.user.name}  

  .checkbox
    .files-attached
      %strong= caze.media.size
      attachment(s)

  - if complete
    %hr

  - if menu
    .media-line
      %dl
        - caze.media.each do |cm|
          %dt
            Mediasample
            %strong= cm.title
          %dd
            = render "media-links", caze: caze, mid: cm.id
            
            .media-entry{style: "display: #{complete ? 'block' : 'none'}" }
              = render "video", caze: caze, media: cm


