%h2= t.be.topics.polygram.read

#case-reading
  .case-head
    .link-to-observation.left
      %a{href: path(:backend_polygram_observe, id: caze.id, mid: media.id)}= t.be.polygram.observationLink


  = render "video", caze: caze, media: media
  = render "media-form", caze: caze, action: path(:backend_polygram_read, id: caze.id, mid: media.id), text: text
  - if errors
    = render "edit_errors", errors: errors

- if observation
  #case-observation-json{style: "display:none", data: { markers: observation.json_markers }}
  %h5= t.polygram.yoursubmission
  #case-observation-render{style: "display:block"}
    = observation.text.to_html
