-# = render "preview", snippet: child_ele
%h2 
  = t.be.topics.snippets.show
  %small
    %code #{snippet.ident}
    %small
      %a{href: path(:backend_snippets_edit, slug: snippet.slug)}
        = t.be.links.snippets.edit

.snippet-content
  = snippet.render(self)

- if snippet.page?
  - if not (snippet.children.empty? rescue true)
    .backend-listing
      .backend-list-entry
        .backend-listing
          - snippet.children.each do |child_ele|
            .backend-list-entry
              = nlink(path(:backend_snippets_show, slug: child_ele.slug), child_ele.slug)

