!!!
%html{:lang => "en"}<
  %head<
    %meta{charset: "utf-8"}
    - title = "ze backend yO?"
    %title= title
    %meta{name: "title", content: "#{title}"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{rel: "prefetch", href: "/icons/feather/sprite", as: "image", type: "image/svg+xml"}
    %link{ href: url_with_calculated_version_hash("/assets/favicon.ico"), rel: "shortcut icon", type: "image/x-icon" }
    - if Hanami.env?(:production)
      %link{href: url_with_calculated_version_hash("/assets/screen-be.css"), rel: 'stylesheet', type: 'text/css'}

  %body#body-backend<
    .backend-block

      = render "shared/menu"
      = render "submenu" rescue nil
      .backend-content
        = yield

  %script{:src => url_with_calculated_version_hash("/assets/bundle-be.js")}
