#BE-form
  %form{:action => action, :method => :post, enctype: 'multipart/form-data'}
    .container
      .columns

      .columns
        .column.col-6.col-md-10.col-mx-auto
          .form-group
            .input-group
              %span.input-group-addon= t.form.title
              %input.form-input{value: post.title, name: :title, value: (post && post.title), disabled: (!!post)}

      .columns.ltop
        .column.col-6.col-md-10.col-mx-auto
          .form-group
            .input-group
              %span.input-group-addon= t.form.tags
              %input.form-input.input-tagline{:type => :text, :id => :tags, :value => (post && post.tags && post.tags.join(",")), :name => :tags}

      .columns.ltop
        .column.col-6.col-md-10.col-mx-auto
          .form-group
            .input-group
              %span.input-group-addon{:for => :image}= t.form.image
              %input.form-input{:type => :file, :name => :image, :name => :image}



      - if Ha2itat.C(:blog_use_templates)
        .columns.ltop
          .column.col-6.col-md-10.col-mx-auto
            .form-group
              .input-group
                %span.input-group-addon= t.form.template
                = templates_select(post)


      .columns.ltop
        .column.col-12.col-md-10.col-mx-auto
          .form-label{:for => :text}= t.form.text
          %textarea#blog-post-form.form-input.cm-form{:rows => 15, :name => :content, "data-codemirror-mode" => "text/x-markdown"}= (post && post.content)
      .columns.ltop
        .column.col-2.col-mx-auto
          %input.btn.btn-primary{:type => :submit, :value => t.form.submit}
