#BE-form
  %form{:action => action, :method => :post, enctype: 'multipart/form-data'}
    .container
      .columns
        .column.col-12
          .form-group
            .form-label{:for => :title}= t.form.title
            %input.form-input{:type => :text, :id => :title, :value => (post && post.title), :name => :title}
          
        .column.col-4
          .form-label{:for => :tags}= t.form.tags
          %input.form-input.input-tagline{:type => :text, :id => :tags, :value => (post && post.tags && post.tags.join(",")), :name => :tags}
        .column.col-4
          - if Ha2itat.C(:default_template)
            .form-label{:for => :tags}= t.form.template
            = templates_select(post)

        .column.col-4
          .form-label{:for => :tags}= t.form.header_image
          %input.form-input{:type => :file, :name => :image, :name => :image}


      .columns
        .column.col-12
          .form-label{:for => :text}= t.form.text
          %textarea#blog-post-form.form-input.cm-form{:rows => 15, :name => :content, "data-codemirror-mode" => "text/x-markdown"}= (post && post.content)
      .columns.mtop
        .column.col-2.col-mx-auto
          %input.btn.btn-primary{:type => :submit, :value => t.form.submit}
