%h2
  = t.be.topics.galleries.show
  %code= gallery.ident

.backend-content
  .backend-content-head
    = render "upload_form", gallery: gallery, pager: pager

  %hr

  .backend-listing.mtop
    %ul.image-verbose-list
      - pager.each do |ele|
        = render "verbose_entry", gallery: gallery, pager: pager, ele: ele
= pager.navigation
