.event-entry{class: event.css_class}
  - unless event.published?
    .backend-list-publish-state= t.be.messages.not_published

  .backend-list-kind
    = event.type

  - if event.has_image?
    .backend-list-image{style: "background-image: url(%s)" % event.image.url}

  .backend-list-controls.floating
    = render "controls", event: event
  .backend-list-head
    = nlink(path(:backend_booking_event_show, slug: event.slug), event.title)
   

  .backend-list-dates
    .be-date-block
      .be-date
        = event.html_date(:start_date)
        Uhr
      &mdash;
      .be-date
        = event.html_date(:end_date)
        Uhr


  .backend-list-content.preview
    %code= event.content

  .backend-list-content.html-text.d-none
    = event.html_text



  .backend-list-footer
    %code= "##{event.slug}"
      
