.cardpreview
  .lines
    - [:repetition_count, :correct_count, :incorrect_count, :interval, :easiness_factor].each do |fieldname|
      .line
        .left
          = t.be.entroment.send(fieldname)
        .right{"class": "field-#{fieldname}"}
          = card.send(fieldname)
    .line
      .left
        = t.be.entroment.last_reviewed
      .right
        %time= RelativeTime.in_words(card.last_reviewed)
