.cardpreview
  %table
    %tr
      %th
        last_reviewed
      %td.tright


        %time= card.last_reviewed.to_human_time
        &mdash;
        %time= RelativeTime.in_words(card.last_reviewed)

    - [:repetition_count, :easiness_factor, :correct_count, :incorrect_count, :interval].each do |fieldname|
      %tr
        %th
          = fieldname
        %td.tright
          = card.send(fieldname)
    %tr
      %th
      %td.tright
        = nlink(path(:backend_entroment_card, cardid: card.id, name: deck.name, collapsed: true), "rate")
