.entroment-preview

  .backend-list-content.preview
    %code= entry.content

  .backend-list-controls.floating
    = render "controls", entry: entry
  - if (show_decks rescue nil)
    .backend-list-foot-decks
      %ul
        - entry.decks.each do |deck|
          %li
            %small= nlink(path(:backend_entroment_deck, name: deck.name), deck.name, title: "Show Deck")
            = " "
            %span.do-card-link= nlink(path(:backend_entroment_card, cardid: entry.id, name: deck.name, collapsed: 1), "λ", title: "Do Card")          

