%h1
  = t.be.topics.entroment.card
  %small #{html_link(card, deck, 1)} in Deck #{nlink(path(:backend_entroment_deck, name: deck.name), deck.name)}

- if collapsed
  = render "cardbuttons", card: card, deck: deck, sessionid: nil

#resultcard.backend-content.entroment-card{class: "rated-%s" % [rated || "unrated"]}
  .topline
    = render "controls", entry: card.entry

  = card.to_html(cls: "resultbox")
  - if rated
    .backend-content-rating
      = render "cardpreview", card: card, deck: deck, rated: rated, entry: card
