%h1
  = t.be.topics.entroment.deck
  = nlink(path(:backend_entroment_session_start, name: deck.name), t.icons.play, "class": "session-start-link", title: "Start Session")

  %small 
    = deck.name
    = "(%s/<strong>%s</strong>)" % [pager.current_items.size, deck.size]


.backend-listing.entroment
  - pager.each do |card|
    .backend-list-entry
      = render "preview", entry: card.entry, deck: deck
      = card.html_stats(show_time: !(rated rescue nil))

= pager.navigation

