
%h1
  = t.be.topics.entroment.session
  %small #{deck.name}
  %small= session_html_progress(s)

- if lastcard
  #lastcard.entroment-entry
    = lastcard.to_html

= render "cardbuttons", card: card, deck: deck, sessionid: sessionid, lastcard: lastcard, s: s

.backend-content.entroment-card
  .entroment-entry
    = card.to_html(true)
