%ul
  %li= nlink(:backend_index, "backend")
  %li= nlink(:backend_user_index, "user")
  %li= nlink(:backend_user_create,"create")

  - if session_user
    %li= nlink(:backend_user_logout, "logout")
  - else
    %li= nlink(:backend_index, "login", :params => {:token => Ha2itat.adapter(:user).user.first.token, :goto => path(:backend_user_index)})


