%h2 userindex

%p
  %span= nlink(:index, "index", :class => :foo)

  %span= nlink(:backend_user_index, "userindex", :params => {:foo => :bar}, :class => :foo)

  %span= nlink(:backend_user_login, "login", :params => {:token => Ha2itat.adapter(:user).user.first.token, :goto => path(:backend_user_index)})

  %span= nlink(:backend_user_logout, "logout")

%p= session_user
